<launch>
  <!-- Turtlebot Driver -->
  <node pkg="turtlebot_node" type="turtlebot_node.py" name="turtlebot_node" output="screen" respawn="true" args="--respawnable">
    <param name="bonus" value="false" />
    <param name="has_gyro" value="false" />
    <param name="update_rate" value="30.0" />
  </node>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find tortoise_description)/urdf/turtlebot.urdf.xacro'" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  </node>
  <node pkg="robot_state_publisher" type="state_publisher" 
  	name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
    <!--param name="tf_prefix" type="string" value="" /-->
  </node>

  
</launch>
